/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */
    body {
        background-color: #F2F2F2;
        font-family: 'PT Sans', sans-serif;
    }
    
    header,
    body > section,
    body > article,
    footer {
        padding-bottom: 11.391em;
        padding-top: 11.391em;
    }

    header {
        background-color: #f2ef95;
        color: #22253e;
    }

    header h1 {
        font-family: 'Open Sans Condensed';
        margin: 0;
        text-transform: uppercase;
    }

    header #pittsburgh {
        background-image: url('../img/pittsburgh.jpeg');
        background-size: cover;
        border: solid 5px #F2F2F2;
        color: #f2d129;
        display: inline-block;
        font-family: 'Yellowtail', cursive;
        padding: .5em .4em;
        text-transform: capitalize;
        -moz-transform: rotate(9deg);
        -o-transform: rotate(9deg);
        -webkit-transform: rotate(9deg);
        transform: rotate(9deg);
        -webkit-text-shadow: -1px 0 #0d0d0d, 0 1px #0d0d0d, 1px 0 #0d0d0d, 0 -1px #0d0d0d;
        -o-text-shadow: -1px 0 #0d0d0d, 0 1px #0d0d0d, 1px 0 #0d0d0d, 0 -1px #0d0d0d;
        -moz-text-shadow: -1px 0 #0d0d0d, 0 1px #0d0d0d, 1px 0 #0d0d0d, 0 -1px #0d0d0d;
        text-shadow: -1px 0 #0d0d0d, 0 1px #0d0d0d, 1px 0 #0d0d0d, 0 -1px #0d0d0d;
        -webkit-box-shadow: 3px 3px 12px #0d0d0d;
        -o-box-shadow: 3px 3px 12px #0d0d0d;
        -moz-box-shadow: 3px 3px 12px #0d0d0d;
        box-shadow: 3px 3px 12px #0d0d0d;
        float: right;
        font-size: 0.667em;
        margin-top: -2.4em;
    }

    h1 {
        font-size: 7.594em;
        line-height: 1.2em;
    }

    h2 {
        font-size: 3.375em;
    }

    h3 {
        font-size: 2.25em;
    }

    h4 {
        font-size: 1.5em;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'PT Sans Narrow', sans-serif;
        font-weight: bold;
        line-height: 1.6em;
        text-transform: uppercase;
    }

    a {
        font-weight: bold;
        -webkit-transition: color 0.3s ease-in-out;
        -o-transition: color 0.3s ease-in-out;
        -moz-transition: color 0.3s ease-in-out;
        transition: color 0.3s ease-in-out;
    }

    .caption {
        font-size: 0.667em;
        font-style: italic;
        margin-top: 1.5em;
        text-align: center;
    }

    #intro {
        background-color: black;
        background-image: url('../img/pittsburgh.jpeg');
        background-repeat: no-repeat;
        background-position: 80% 65%;
        color: white;
    }

    #intro h3 {
        color: #F2F2F2  ;
        font-size: 2.25em;
        padding-bottom: .667em;
        padding-top: .667em;
        text-shadow: black 0.1em 0.1em 0.2em;
        text-transform: none;
    }

    svg text {
        alignment-baseline: central;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 1.5em;
        text-anchor: middle;
        text-transform: uppercase;
    }

    path {
        fillRule: evenodd;
        stroke: #fff;
    }

    #senders text {
        fill: #0d0d0d;
        text-anchor: end;
        text-transform: none;
    }

    #senders rect.bar {
        fill: #22253E;
    }

    #about {
        background-color: #22253E;
        color: #F2F2F2;
    }

    #technical {
        background-color: #f2ef95;
    }

    #technical img {
        -webkit-box-shadow: 3px 3px 12px #0d0d0d;
        -o-box-shadow: 3px 3px 12px #0d0d0d;
        -moz-box-shadow: 3px 3px 12px #0d0d0d;
        box-shadow: 3px 3px 12px #0d0d0d;
    }

    footer {
        background-color: #b24b68;
        color: #F2F2F2;
    }

    footer h2 {
        color: #f2ef95;
        display: inline-block;
        font-family: 'Yellowtail';
        -webkit-transform: rotate(-18deg);
        -o-transform: rotate(-18deg);
        -moz-transform: rotate(-18deg);
        transform: rotate(-18deg);
        text-transform: lowercase;
    }

    footer h1 a,
    footer h1 a:hover {
        color: #F2F2F2;
        text-transform: none;
    }

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

    body {
        
    }

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*  .logo {
        background: url(logo2x.jpg) no-repeat;
        background-size: 212px 303px;
    }*/

}